@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=Avenir");
html {
  height: 100%;
}

.test {
  margin-bottom: 50px;
}

body {
  background-color: #2E2E2E;
  font-family: Avenir, sans-serif;
  color: white;
  height: 100%;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

h2, h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  color: white;
}

h4, h5, h6 {
  font-family: Avenir, sans-serif;
  color: #3D3E41;
}

.footer {
  z-index: 200;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.titlefont {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: white;
}

.headerimg {
  background-image: url("../images/headerwood2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
}

.jumboimg {
  background-image: url("../images/food.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumboimg2 {
  background-image: url("../images/csa31.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrowcolor {
  color: white;
}

.week {
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.fontcolor {
  color: white;
}

.ui-accordion-header {
  background: black;
  border: none;
}

.fooditemone {
  background-image: url("../images/sweetpotato.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.fooditemone2 {
  background-image: url("../images/radish.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.fooditemtwo {
  background-image: url("../images/beets.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

a.test:link {
  color: white;
}

a.test:active {
  color: white;
}

a.test:hover {
  color: gray;
}

a.test:visited {
  color: #355400;
}

.footercolor {
  background: #809C33;
  background: linear-gradient(#809C33, #AED041);
  border: 1px solid gray;
  height: 60px;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  color: black;
}

.list-group {
  color: black;
}

.arrow {
  text-decoration: none;
}

.questionbox {
  color: black;
  background-color: white;
}

.ask {
  background-color: gray;
}
