// Color Variables
$headline-color: white;
$body-color: white;
$social-color: rgba(255, 255, 255, 0.58);
$footer-color-1: #809C33;
$footer-color-2: #AED041;
$container-color: rgba(0, 0, 0, 0.44);
$mainbackground-color: #3D3E41;
$font-color: #3D3E41;
$complimentary-color: white;
$arrow-color: white;
