// Font Variables

$headline: Montserrat;
$headline-fb: sans-serif;
$body: Avenir;
$body-fb: sans-serif;

$headline-font-size: 80px;
$headline-font-weight: 800;

@import url('https://fonts.googleapis.com/css?family=Montserrat:800');
@import url('https://fonts.googleapis.com/css?family=Avenir');
