// URL Variables
$plone-image: url('../images/headerimage.jpg');
$pltwo-image: url('../images/stock2.jpg');
$plthree-image: url('../images/stock3.jpg');
$tophead-image: url('../images/headerwood2.jpg');
$jumbo-image: url('../images/food.jpg');
$fooditemone-image: url('../images/sweetpotato.jpg');
$fooditemtwo-image: url('../images/beets.jpg');
